<!-- File: admin/layout/sidebar.html -->
<aside class="main-sidebar" th:fragment="sidebar">
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img th:src="@{/images/avatar5.png}" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<span style="font-weight: bold">Xin Chào !</span><br><br>
				<span sec:authentication="name"></span>
			</div>
		</div>
		<hr>

		<ul class="sidebar-menu" data-widget="tree">

			<!-- Quản lý tài khoản -->
			<li>
				<a th:href="@{/admin/index/listTaiKhoan}">
					<i class="fa fa-users"></i>
					<span>Danh sách tài khoản</span>
				</a>
			</li>
			<li>
				<a th:href="@{/admin/monhoc}">
					<i class="fa fa-graduation-cap"></i>
					<span>Quản Lý Môn Học</span>
				</a>
			</li>

			<li>
				<a th:href="@{/admin/diem}">
					<i class="fa fa-table"></i>
					<span>Bảng điểm</span>
				</a>
			</li>
		</ul>


		</ul>
	</section>
</aside>
