/* css listmenu*/
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    background: rgba(11, 21, 77, 0.61);
    color: rgb(248, 245, 245);
    padding-top: 20px;
}
.sidebar a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
    transition: 0.3s;
}
.sidebar a:hover {
    background: #2785f0;
}
.content {
    margin-left: 260px;
    padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
table  {
    width: 100%;
    /* margin: 20px auto; */
    border-collapse: collapse;
    background: white;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
}
th {
    background: #007bff;
    color: white;
}

/* Tùy chỉnh dropdown */
